* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.5rem;
}




header {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9;
}

h1 {
  font-size: 4rem;
  color: #a38e74;
  text-shadow: 3px 3px 3px #8499A3;
  background-color: #dbe9f0;
}

.welcome {
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #a38e74;
  text-shadow: 2px 2px 2px #8499A3;
}

#hero {
  display: block;
  margin: 5px auto 5px auto;
  width: 960px;
  border: 3px solid #a38e74;
}

main {
  padding: 5px;
  margin: 5px;
}

p {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ul {
  list-style: disc;
  margin: 1rem;
  padding: 1rem;
}

ol {
  list-style: decimal;
  margin: 1rem;
  padding: 1rem;
}

li {
  padding: 5px;
  margin: 5px;
}

.experience {
  padding: 5px;
  margin: 5px;
  border: 3px dashed #a38e74;
}

#usmc {
  display: block;
  width: 150px;
  position: absolute;
  left: 75%;
  top: 600px;
}

.education {
  padding: 5px;
  margin: 5px;
  border: 3px dashed #a38e74;
}

#kansas {
  display: inline-block;
  width: 150px;
  position: absolute;
  left: 75%;
  top: 1060px;
}

.goals {
  padding: 5px;
  margin: 5px;
  border: 3px dashed #a38e74;
}

#rocklee {
  display: block;
  width: 150px;
  position: absolute;
  left: 75%;
  top: 1325px;
}

.top10 {
  padding: 5px;
  margin: 5px;
  border: 3px dashed #a38e74;
}

footer {
  height: fit-content;
  text-align: center;
}

footer li {
  display: inline-block;
}

#github {
  background-color: none;
}

#github:hover {
  background-color: #8499A3;
}

#linkedin {
  background-color: none;
}

#linkedin:hover {
  background-color: #8499A3;
}
